/* Set default styles for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    color: #000; /* add a color value */
    background-color: #eaf5ff;
  }
  
  /* Enable smooth scrolling for HTML element */
  html {
    scroll-behavior: smooth;
  }
  
  #container {
    height: 100vh;
    width: 100%;
    background: #eaf5ff;
    /* position: relative; */
    z-index: 1;
  }
  
  #navbar {
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    /* position: absolute; */
    top: 0;
    left: 5%;
    background: #d40210;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  #navbar ul,
  #navbar ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
  }
  
  #navbar ul {
    position: absolute;
    left: 5%;
  }
  
  #navbar ol {
    position: absolute;
    right: 5%;
  }
  
  #navbar li {
    margin: 0px 60px;
    font-size: 24px;
  }
  
  #navbar li a {
    text-decoration: none;
    color: #e2e2e2;
    transition: 0.5s;
  }
  
  #navbar li a:hover {
    color: #000;
  }
  
  #logo {
    height: 100px; /* fix height value */
    width: 100px; /* fix width value */
    position: absolute;
    top: 5px;
    left: calc(50% - 50px); /* fix positioning value */
  }
  
  #logo img {
    height: 100%; /* make the image height fill the parent div */
  }
  
  #contentSection {
    height: 400px;
    width: 750px;
    /* position: absolute; */
    left: 5%;
    padding: 100px;
    top: calc(50% - 200px);
  }
  
  #contentSection h2 {
    font-size: 70px; /* reduce font size to fit the container */
    color: #d40210;
    font-weight: 900;
    margin-bottom: 20px; /* add some spacing */
  }
  
  #contentSection p {
    padding-left: 20px; /* use padding-left instead of padding */
  }
  
  #contentSection button {
    height: 70px;
    width: 200px;
    border: none;
    outline: none;
    background: #d40210;
    color: #eaf
  }
 #contentSection img{
    margin-left: 600px;
  }
  .main-div {
    display: flex; /* Set the display property to flex */
    align-items: center; /* Align the flex items vertically */
  }
  
  .div-left {
    flex: 1; /* Set the flex property to 1 to make it take up all the available space */
  }


  /* ----about---- */
#about{
    padding: 80px 0;
    color: #d40210;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #d40210;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.75s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: aqua;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*--services-- */
#services{
    padding: 30px 0;
}
.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.Services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.75s; transform 0.75s;
}
.Services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.Services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Services-list div a{
    text-decoration: none;
    color:#d40210;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.Services-list div:hover{
    background: #ff004f;
    transform: translate(-10px);
}
/* --portfolio-- */
#Privacy{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* --contact-- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.75s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}


  